@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 27px;
}

body {
  scroll-behavior: smooth;
}

#page2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.anime-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
}

button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
}

button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.card:hover {
    transform: scale(1.024);
    transition: 0.1s all;
  }

.subheading {
  font-weight: 700;
  margin-right: 3px;
}

.episode, .character {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 450px) {
  .container,
  img,
  iframe {
    width: 100%;
  }
}
